* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* css for the menu */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
}

header .navbar ul li a:hover {
  background: orange;
  color: #fff;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #fff;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

.informations {
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.crete-body {
  background-image: url("../slides/crete.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.naxos-body {
  background-image: url("../slides/naxos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.mykonos-body {
  background-image: url("../slides/mykonos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.paros-body {
  background-image: url("../slides/paros.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.goto_links{
  background-color: white;
  color: red;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.goto_links:hover{
  background-color: mediumspringgreen;
  color: black;
}

@media (max-width: 768px){

  .goto_links{
    font-size: 1rem;
  }

  .informations {
    text-align: center;
    justify-content: left;
    margin-top: 5rem;
    font-size: 1rem;
  }
  
    header .logo  {
      font-size: 1rem;
    }
    
    header .navbar ul li a {
      font-size: 0.8rem;
      padding: 0.2rem;
    }
  
    header .navbar ul li ul li ul {
      left: 3rem;
    }
    
  
    h1,h2{
      font-size: 1rem;
    }
  
  }
  