#myForm {
  margin-top: 100px;
}

.container {
  background-color: white;
  border: 2px solid #333;
  border-radius: 0.5rem;
  padding: 0.6rem;
  max-width: 600px;
  margin: 15px auto;
  animation: fade 250ms ease-in-out forwards;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.25em;
}

.form-group:last-child {
  margin: 0;
}

.form-group > label {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.form-group > input {
  border: 1px solid #333;
  border-radius: 0.25em;
  font-size: 1rem;
  padding: 0.25em;
}

.step-title {
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  background-color: blueviolet ;
  padding: 10px ;
  border: 1px solid green ;
}
.button-area {
  text-align: center;
}

.button {
  border: none;
  padding: 10px 20px;
  margin: 10px 4px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: bolder;
}

.search-container{
  width: 50%;
  margin: 0 auto;
  max-width: 600px;
}

form.search input[type=email] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 40%;
  background: #f1f1f1;
  text-align: center;
  justify-content: center;
}

form.search button {
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}
